.calendar_wl_box {
    position: absolute;
    top: 300px;
    left: 450px;
    width: 300px;
    height: 15.3em;
    border: 1px solid black;
}

.calendar_wl_box .cwl-head {
    position: absolute;
    width: 100%;
    height:4em;
    text-align: center;
    overflow: hidden;
}

.calendar_wl_box .cwl-anim_container {
    position: absolute;
    width: 100%;
    top: 4em;
    bottom:0;
    text-align: center;
    overflow: hidden;
}

.calendar_wl_box .cwl-body {
    position: absolute;
    width:100%;
}

.calendar_wl_box .cwl-row {
    display: flex;
    line-height: 1.5em;
}

.calendar_wl_box .cwl-body.year .cwl-row,
.calendar_wl_box .cwl-body.decade .cwl-row {
    line-height: 3em;
}

.calendar_wl_box .cwl-head .cwl-row{
    line-height: 3em;
}

.calendar_wl_box .cwl-head.month .cwl-row.wdays {
    line-height: 1em;
    font-size:.8em;
}

.calendar_wl_box .cwl-head .cwl-prev,
.calendar_wl_box .cwl-head .cwl-next {
    flex: 1 1;
    cursor: pointer;
}

.calendar_wl_box .cwl-head .cwl-noshift {
    flex: 1 1;
}

.calendar_wl_box .cwl-head .cwl-title {
    flex: 5 1;
    cursor: pointer;
}
.calendar_wl_box .cwl-head.decade .cwl-title {
    cursor:default;
}

.calendar_wl_box .cwl-row .cwl-cell {
    flex: 1 1;
    display: inline-block;
    cursor: pointer;
}

.calendar_wl_box .cwl-row .cwl-cell:hover {
    background-color: rgba(0, 0, 255, .2);
}

.calendar_wl_box .cwl-row .cwl-cell.out,
.calendar_wl_box .cwl-row .cwl-cell.wdname {
    background-color: transparent;
    cursor: default;
}

.calendar_wl_box .cwl-row .cwl-cell.today {
    color: maroon;
}

.calendar_wl_box .cwl-row .cwl-cell.other {
    color: silver;
}

.calendar_wl_box .cwl-row .cwl-cell.out {
    color: #d0d0d0;
}

