.calendar_wl_box {
    position:absolute;
    top:300px;
    left:450px;
    width: 300px;
    height:300px;
    border: 3px solid blue;
}

.calendar_wl_container {
    position:absolute;
    width:100%;
    height:100%;
}

.body {
    width:100%;
    height:100%;
    text-align: center;
}

.body .row {
    display: flex;
}

.body .cell {
    flex: 1 1;
    display: inline-block;
    border: 1px solid silver;
    cursor: pointer;
}

.body .cell:hover {
    background-color:rgba(0,0,255,.2);
}

.body .cell.out,
.body .cell.wdname {
    background-color: transparent;
    cursor: default;
}

.body .cell.today {
    color:maroon;
}

.body .cell.other {
    color:silver;
}

.body .cell.out {
    color: #d0d0d0;
 }

.body .prev,
.body .next {
    flex:1 1;
    cursor: pointer;
}
.body .noshift {
    flex:1 1;
}

.body .title {
    flex:5 1;
    cursor: pointer;
}
